import NhPage from "$components/nh-page";
import { html, css } from "lit";
import { customElement } from "lit/decorators.js";

@customElement("{{ pageTag path }}")
export default class {{ properCase (pageTag path) }} extends NhPage {
  /**
   * Page metadata.
   */
  static override metadata = {
    title: "{{ title }}",
    position: {{ pagePosition package }},
  };

  /**
   * Page content.
   * @returns the DOM of the page
   */
  protected override render() {
    return html`
      <h1>{{ title }}</h1>
    `;
  }

  /**
   * Page styles.
   */
  static override styles = css`
    h1 {
      text-align: center;
    }
  `;
}
